// import
@import '../fonts/ProximaSoft/stylesheet.css';

* {
  font-family: 'Proxima Soft' !important;
}



$primary-color: #FF8F73;
$secondary-color: #FF734E;

.text-primary {
  color: $primary-color;
}
.text-secondary {
  color: $secondary-color;
}
.bg-primary {
  background: $primary-color;
}
.bg-secondary {
  background: $secondary-color;
}
