@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  color: white;
  font-family: 'Poppins', sans-serif;

  background: linear-gradient(224deg, #081426, #163058);
  background-size: 400% 400%;

  -webkit-animation: BackgroundGradientAnim 10s ease infinite;
  -moz-animation: BackgroundGradientAnim 10s ease infinite;
  animation: BackgroundGradientAnim 10s ease infinite;
}

@-webkit-keyframes BackgroundGradientAnim {
  0%{background-position:90% 0%}
  50%{background-position:11% 100%}
  100%{background-position:90% 0%}
}
@-moz-keyframes BackgroundGradientAnim {
  0%{background-position:90% 0%}
  50%{background-position:11% 100%}
  100%{background-position:90% 0%}
}
@keyframes BackgroundGradientAnim {
  0%{background-position:90% 0%}
  50%{background-position:11% 100%}
  100%{background-position:90% 0%}
}

// custm card
.wrapper-with-tag {
  position: relative;
  .container-with-tag {
    padding-left: 3rem;
    &::before {
      content: '<' var(--tag) '>';
      // content: "<h1>";
      display: block;
      padding-bottom: 8px;
      margin-left: -2.6rem;
      font-family: 'Fira Mono', monospace;
      font-size: 10px;
      color: theme('colors.gray.500');
    }
    &::after {
      content: '</' var(--tag) '>';
      // content: "</h1>";
      display: block;
      padding-top: 16px;
      margin-left: -2.6rem;
      font-family: 'Fira Mono', monospace;
      font-size: 10px;
      color: theme('colors.gray.500');
    }
  }
  &::after {
    content: '';
    opacity: 0.3;
    width: 0;
    height: 90%;
    top: 5%;
    left: 18px;
    position: absolute;
    border: 0.1px solid white;
    border-top-color: white;
    border-top-style: solid;
    border-top-width: 0.1px;
    border-right-color: white;
    border-right-style: solid;
    border-right-width: 0.1px;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 0.1px;
    border-left-color: white;
    border-left-style: solid;
    border-left-width: 0.1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
  }
}

// pages
// page::home
.page-section-header-home-canvas-wrapper {
  position: absolute;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 100%;
  right: 6%;
  top: 50%;
  transform: translateY(-50%);
  width: 50vw;
  height: 70vh;
}// page::home
.page-section-home-canvas-wrapper {
  position: absolute;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 100%;
  right: 6%;
  top: 50%;
  transform: translateY(-50%);
  width: 50vw;
  height: 70vh;
}

.page-section-header {
  font-size: 24px;
  font-weight: 800;
  position: relative;
  display: flex;
  align-items: flex-end;

  & > span:nth-child(1) {
    color: theme('colors.primary.500');
    font-size: 16px;
    margin-right: 8px;
    margin-bottom: 4px;
  }

  // create horizontal line
  &::after {
    opacity: 0.3;
    align-self: center;
    flex: 1 1 0%;
    content: '';
    display: block;
    top: 0;
    margin-top: 4px;
    margin-left: 16px;
    margin-right: 16px;
    width: 100%;
    height: 2px;
    background: theme('colors.primary.500');
  }

  // &.page-section-header-right {
  //   flex-direction: column-reverse;
  //   align-items: flex-start;

  //   &::after {
  //     margin-right: 16px;
  //     margin-left: 16px;
  //   }
  // }
}

@keyframes tso-rainbow {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100vw 0;
  }
}
.tso-rainbow {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

.tso-rainbow:before {
  content: '';
  width: 100%;
  height: 2px;
  background: linear-gradient(to right,#ff0075 0,#00dcff 75%,#ff0075 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  animation-name: tso-rainbow;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}
