/*
COLOR
-black = #393939
-white = #ffffff
-grey = #626262
*/
@import url(https://fonts.googleapis.com/css?family=McLaren&display=swap);

:root {
    --color-black: #393939;
    --color-white: #ffffff;
    --color-grey: #626262;
    --color-blue: #0099FF;
}
*, *::after, *::before {
    box-sizing: border-box;
    line-height: 1.6rem;
}
* { font-family: 'McLaren', cursive; }
html {
    color: var(--color-grey);
    scroll-behavior: smooth;
}
body {
    font-family: 'McLaren', cursive;
    color: var(--color-grey);
    background: #FFFFFF;
    margin: 0;
    padding: 0;
}



/* BASIC */
h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 1.5rem;
}
h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
}
h3 {
    font-size: 1.5rem;
    line-height: 2.0rem;
    margin-bottom: 1.5rem;
}
h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0.6rem;
}
h6 {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0.6rem;
}
ul {
    padding-left: 1.5rem;
}
a {
    text-decoration: none;
    color: var(--color-black);
    border-bottom: 1px solid var(--color-blue);
    transition: all 0.5s cubic-bezier(.33, .66, .66, 1);
}
a:hover {
    background: var(--color-blue);
    color: var(--color-white);
}
hr {
    margin-top: 4rem;
    margin: 3rem 0;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
hr.s-1 {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}


/* ALIGN TEXT */
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }


/* NAVBAR */
nav.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2.125rem 1.5rem 2.125rem 2rem;
    transition: all 0.2s;
    /* background: red; */
}
nav.nav.with-container {
    padding: 2rem 6rem;
}
nav.nav .brand {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-right: 1rem;
    font-size: 1.25rem;
    background: transparent;
    border: none;
}
nav.nav .brand img{
    height: 1.5rem;
    margin-bottom: -0.2rem;
}
nav.nav .toggler { display: none; }
nav.nav .items {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    /* background: yellow; */
}
nav.nav .items.ml-auto { margin-left: auto !important; }
nav.nav .items > .item { 
    display: list-item;
}
nav.nav .items > .item a {
    background: transparent;
    border: none;
    color: var(--color-white);
    text-decoration: none;
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
}
nav.nav.top-nav-collapse .items > .item.active > a { color: var(--color-blue); }
.fixed-top {
    position: fixed;
    /* width: 100%; */
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.top-nav-collapse {
    background: var(--color-white);
    box-shadow: 0 0.06rem 1rem 0 rgba(0, 0, 0, 0.1);
    padding: 1rem 5rem !important;
}
nav.nav.top-nav-collapse .brand { color: var(--color-black); }
nav.nav.top-nav-collapse .items > .item a { color: var(--color-black); }

@media only screen and (max-width: 768px) {
    nav.nav {
        background: var(--color-white);
        box-shadow: 0 0.06rem 1rem 0 rgba(0, 0, 0, 0.1);
        /* padding: 1rem 5rem !important; */
    }
    nav.nav .toggler { 
        display: inline-block; 
        margin: 0 auto; margin-right: 0;
        background: transparent;
        border: none;
        font-size: 1.6rem;
        padding: 0;
        outline: none;
        color: var(--color-white);
        background: transparent;
        border: 1px solid var(--color-white);
        padding: 0.2rem .7rem;
    }
    nav.nav .brand {
        color: var(--color-black);
    }
    nav.nav .toggler {
        color: var(--color-black);
        border: 1px solid var(--color-grey); 
    }
    nav.nav .toggler > span.open { display: inline-block; }
    nav.nav .toggler > span.close { display: none; }
    nav.nav .toggler.collapse > span.open { display: none; }
    nav.nav .toggler.collapse > span.close { display: inline-block; padding:0rem 0.2rem; }
    nav.nav .items {
        width: 100%;
        flex-direction: column;
        display: none;
        transition: all 0.2s;
        padding: 1rem 0;
        border-top: 1px solid var(--color-white);
        border-bottom: 1px solid var(--color-white);
    }
    nav.nav .items:not(.collapse) { display: block; animation: itemsCollapse; animation-duration: 0.6s; animation-timing-function: ease-in-out;}
    nav.nav .items.collapse { display: none; }
    @keyframes itemsCollapse {
        from { 
            height: 0px;
            opacity: 0;
        }
        to {
            height: 100%;
            opacity: 1; 
        }
    }
    nav.nav .items > .item.active > a { color: var(--color-blue); }
    nav.nav .items > .item a { color: var(--color-black); }
    nav.nav.with-container {
        padding: 1rem;
    }
    .top-nav-collapse {
        padding: 0.6rem !important;
    }

}



/* HEADER */
header {
    background-color: #0099ff;
}
header h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1.125rem;
}
header .text-container {
    margin: 4rem 1rem 2rem 0;
}
@media (min-width: 768px) {
    header {
        padding-top: 12rem;
    }
}
@media (max-width: 768px) {
    header {
        padding-top: 9rem;
    }
    header .text-container {
        text-align: center;
        margin: 0rem 1rem 2rem 0;
    }
    header .img-container {
        margin: 2rem auto;
    }
}



/* CONTAINER */
.container {
    margin: 0 auto;
    padding: 0 15px;
}
.container.fluid {
    max-width: 100%;
    margin: 0;
    padding: 0 15px;
}
.text-container {
    margin: 13rem auto;
}
.block { display: block; }
@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* Grid System */
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    /* background: red; */
}

[class*="col-"] {
    position: relative;
    width: 100%;
    padding: 0 15px;
    display: block;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
@media (min-width: 992px) {
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-lg-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-lg-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}



/* COLOR */
.white { color: var(--color-white) !important; }
.black { color: var(--color-black) !important; }
.grey { color: var(--color-grey) !important; }
.blue { color: var(--color-blue) !important; }
.bg-white { background-color: var(--color-white) !important; }
.bg-black { background-color: var(--color-black) !important; }
.bg-grey { background-color: var(--color-grey) !important; }
.bg-blue { background-color: var(--color-blue) !important; }


/* IMAGE */
.img-fluid {
    width: 100%;
    height: auto;
}



/* BUTTON */
.button {
    display: inline-block;
    text-decoration: none;
    color: var(--color-black);
    background: var(--color-white);
    border: 1px solid var(--color-white);
    padding: 0.5rem 1.25rem;
    box-shadow: 0 0.1rem 0.3rem 0.2rem rgba(0, 0, 0, 0.1);
    cursor: pointer !important;
    font-family: 'McLaren', cursive;
    transition: all 0.5s;
}
.button.radius {
    border-radius: 2rem;
    padding: 0.7rem 2rem;
}
.button:hover {
    background: transparent;
    border: 1px solid var(--color-white);
    color: var(--color-white);
}
.button.fluid { width: 100%; }
.button.blue { background-color: var(--color-blue); color: var(--color-white) !important; border: 1px solid var(--color-blue); }
.button.blue:hover { background: transparent; color: var(--color-black) !important; }



/* SHADOW */
.shadow, .shadow-md {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.shadow-lg { box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important; }




/* FOOTER */
footer {
    background: var(--color-blue);
    text-align: center;
    font-size: 0.8rem;
    color: var(--color-white);
}





/* FORM */
textarea, input[type="text"] {
    width: 100%;
    outline: none;
    display: inline-block;
    margin: 0.5rem 0.2rem;
    padding: 0.75rem 1.25rem;
    border: 1px solid #ddd;
    border-radius: 0.1rem;
    transition: all 0.25s ease-in-out;
}
textarea:hover, input[type="text"]:hover {
    background: #fafafa;
}
textarea:focus, input[type="text"]:focus {
    border: 1px solid var(--color-blue);
}

input[type="text"] {
}
textarea {
}


/* BOX */
.box {
    margin-bottom: 2rem;
    border: 1px solid #ddd;
    background: var(--color-white);
    padding: 1.5rem;
    transition: all 0.3s ease-out;
}
.box.contact:hover {
    box-shadow: 0 0 1.2rem 0 rgba(0, 0, 0, 0.23);
}

.box.contact {
    text-align: center;
}

.box > p {
    margin: 0rem;
}